.study__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 13px;
}

.study__title-img {
    width: 40px;
    margin-right: 10px;
}

.study__categories {
    display: flex;
    margin: 20px 0;
}

.study__category {
    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    cursor: pointer;

    margin-right: 8px;
}

.study__category.active {
    position: relative;
}

.study__category.active:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
}

.study__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px 1fr));
}

