.course-program__item {
    display: flex;
    align-items: center;

    padding: 14px 10px;
    position: relative;
    cursor: pointer;
}

.course-program__item::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(209, 209, 214, 0.2);
}

.course-program__item-content {
    margin-left: 10px;
}

.course-program__item-title {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #D1D1D6;
    margin-bottom: 9px;
}

.course-program__item-exp {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    color: #D1D1D6;
}
