.course-program__main {
    position: relative;
    background: rgba(28, 28, 28, 0.5);
    padding: 14px 0;
}

.course-program__main::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(209, 209, 214, 0.2);
}

.course-program__main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #D1D1D6;

    margin-bottom: 7px;
}

.course-program__main-exp {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;

    color: #D1D1D6;
}