.course-reviews {
    padding-bottom: 20px;
}

.course-reviews__el {
    position: relative;
    padding: 27px 0 15px;
}

.course-reviews__el::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 1px;
    min-width: 100vh;
    background-color: rgba(209, 209, 214, 0.2);
}

.course-reviews__item-inner {

}
.course-reviews__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.course-reviews__item-user {

}
.course-reviews__item-stars {
    display: flex;
}
.course-reviews__item-bottom {}
.course-reviews__item-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.course-reviews__item-user {
    display: flex;
}
.course-reviews__item-user-ava {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.course-reviews__item-user-content {
    margin-left: 7px;
}
.course-reviews__item-user-name {
    font-style: normal;
    font-weight: 700;
    font-size: 17.7204px;
    line-height: 21px;
}
.course-reviews__item-user-date {
    font-style: normal;
    font-weight: 700;
    font-size: 10.4711px;
    line-height: 13px;

    color: #D1D1D6;
}